*{
  font-family:Poppins, sans-serif;
}
.navbar{
  background: linear-gradient(45deg,#DAA520, #FFFF00);
}
.navbar>ul{
display:flex;
padding:10px;
align-items: center;
justify-content: center;
margin-left:100px;
}
.navbar>ul li{
list-style:none;

margin-right:40px;
display:flex;
align-items: center;
}
.navbar>ul li:hover{
  cursor:pointer;
  text-decoration:underline;
}

.sidebar{
  display:flex;
  padding:10px;
  justify-content: center;
  margin-top:10px;
  width:100%;
}
.sidebar>button{
width:45%;
padding:20px;
margin-right:10px;
border:none;
border-radius:10px;
background:linear-gradient(45deg,#DAA520, #FFFF00);
font-size:25px;
font-weight:bold;
}
.sidebar>button:hover{
  cursor:pointer;
  background:linear-gradient(45deg,#DAA520, #FFD700);
}
.feed{
  background-color: rgb(235, 231, 231);
}
.Footer{
  background: linear-gradient(45deg,#DAA520, #FFFF00);
}
.author{
  display:flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.author>li>a{
  text-decoration:none;
  margin-right:25px;
}

